/*
 * @Author: yuanhang 
 * @Date: 2019-10-31 10:56:03 
 * @Last Modified by: yuanhang
 * @Last Modified time: 2020-05-20 15:32:30
 */
.HotelList {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.HotelList .item {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
.HotelList .item.synopsis {
  margin-bottom: 0;
}
.HotelList .item .label {
  width: 75px;
  display: inline-block;
  overflow: hidden;
  line-height: 32px;
  white-space: nowrap;
  text-align: right;
  vertical-align: top;
  font-size: 14px;
}
.HotelList .item .label:after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.HotelList .item .text {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
