/*
 * @Author: yuanhang 
 * @Date: 2019-12-03 16:44:01 
 * @Last Modified by: yuanhang
 * @Last Modified time: 2020-05-08 10:36:37
 */
.NewInvoice .label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.NewInvoice .ant-col .ant-form-item-label {
  width: 120px;
}
